/* From Uiverse.io by Navarog21 */ 
buttoncc {
  width: 10em;
  position: relative;
  justify-content: center;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

buttoncc::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0d0f27;
  transition: 0.5s;
  transform-origin: center;
}

buttoncc::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #0d0f27;
  transition: 0.5s;
}

buttoncc:hover::before, button:hover::after {
  transform: scale(0)
}

buttoncc:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}